/*Regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background-color: rgb(238, 238, 238);
}

/*Header*/

#logo{
    padding:10px;
    margin-left:10px;
}

#Header{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: bold;
    vertical-align: center;
}

/*Main*/

#contenitore{
    width: 50%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    padding: 15px;
    border-radius: 10px;
}

.bottom1{
    color: white;
    border: 2px solid white;
    background-color:#45ACF2;
    border-radius: 5px;
    padding: 3px 7px;
}
.bottom2{
    color:grey;
    border:2px solid grey;
    border-radius: 5px;
    padding: 3px 7px;
    
}
.Bottom_div{
    margin-bottom: 40px;
}

.Triangolo{
    display: inline;
    background-image: url(img/Triangolino.png);
    width: 10x;
    background-repeat: no-repeat;
}

.Sezione{
    padding: 20px 0px 20px 0px;;
}

.base_comment{
    font-size: 14px;
    background-color:#45ACF2;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    padding: 5px 10px;
}
.q1{
    background-color:#9974DA;
}
.recut{
    background-color: #67C0A7;
}
.mobile{   
    background-color: #ECA42E;
}
.Website{
    background-color: #D763A0;
}
.Sales{
    background-color: #B0CA27;
}


