/*Regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background-color: rgb(238, 238, 238);
}

/*Header*/



#logo{
    padding:10px;
    margin-left:10px;
}

#logo_title{
    font-size: 34px;
    font-family: Verdana, Tahoma, sans-serif;
    vertical-align: 50%;  
    font-weight: 700;  
}

#Header{
    background-color: rgb(255, 255, 255);
}

/*Main*/

#contenitore{
    width: 50%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    padding: 15px;
    border-radius: 5px;
}


/*button*/

.button1{
    color: white;
    border: 2px solid white;
    background-color:#45ACF2;
    border-radius: 5px;
    padding: 3px 7px;
}
.button2{
    color:grey;
    border:2px solid grey;
    border-radius: 5px;
    padding: 3px 7px;
}

/*Check*/

.check{
    width:20px;
    vertical-align: text-bottom;
}
.nocheck{
    width: 14px;
    margin-right: 11px;
    padding-left: 1px;
    vertical-align: middle;
}

.Button_div{
    margin-bottom: 30px;
    padding: 0px;
}

.Sezione{
    padding: 25px 0px;
}

/*Commenti laterali*/

.base_label{
    font-size: 14px;
    background-color:#45ACF2;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    padding: 3px 10px;
    margin-left: 5px;
}
.viola{
    background-color:#9974DA;
}
.azzurrino{
    background-color: #67C0A7;
}
.arancione{   
    background-color: #ECA42E;
}
.violetto{   
    background-color: #D763A0;
}
.verde{
    background-color: #B0CA27;
}

/*liste*/

li{
    margin: 15px 0px;
}

ul
{
    list-style-type:none;
    padding-left: 0px ;
}

